$colorBlue: #40A3F8;
$colorBlack:#3E3E3E;
$colorGray:#999999;
$colorWhite:#FFFFFF;
$colorBraun:#6E5F5F;

.Look{
    padding-top: 120px;
    background: #9ec6e627;
    padding-bottom: 87px;

    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        margin-bottom: 93px;

    }

    
    article{
        height: 380px;    
  

        background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
        padding: 22px 32px 32px 32px ;
        border-radius: 10px;
        position: relative;
    
        margin-bottom: 30px;
        border: 1px solid rgba(144, 142, 142, 0.279);



        .commas{
            width: 40px;
            height: 40px;
            position: absolute;
            top: -17px;
            right: 41px;
            
        }

        .Photo_client{
            border-radius: 50%;
            width: 63px;
            height: 63px;
            overflow: hidden;
            margin: auto;
        }
        .flex-name_doctor{
            @include max-screen (362px){
                flex-direction: column;
                align-items: center;
                
              }
              ul{
                @include max-screen (362px){
                    padding: 0px;
                    
                  }
              }
            
        
        }


        h4{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 55px;
            color: #3D3D3F;
            text-align: left;
        }
        ul{
            li{
                list-style: none;
                &::before{
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    content: "\f005";
                    color: #FF9000;
                    
                }
            }
        }


        p{
            &:first-of-type{
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            
        }
            
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #454D5D;
            text-align: left;

        }

    
    
    @include max-screen (1099px){
        height: 340px ;
      }
    @include max-screen (428px){
        height: 380px ;
      }
    @include max-screen (362px){
        height: 420px ;
        
      }
    @include max-screen (346px){
        height: 460px ;
        
      }
    @include max-screen (312px){
        height: 570px ;
        
      }
      
    }

}
