$colorBlue: #40A3F8;
$colorBlack:#3E3E3E;
$colorGray:#999999;
$colorWhite:#FFFFFF;
$colorBraun:#6E5F5F;

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

  @mixin btn_Blue{
    display: inline-block;
    background: $colorBlue;
    padding: 10px 0;
    color:$colorWhite;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    border-radius: 5px;
    border: 1px solid transparent;
    &:hover{
      color: $colorBlue;
      background:$colorWhite;
      border: 1px solid $colorBlue;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  @mixin btn_White{
    display: inline-block;
    background: $colorWhite;
    padding: 10px 0;
    color:$colorBlue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid $colorWhite;
    &:hover{
      color: $colorWhite;
      background:$colorBlue;
      border: 1px solid $colorWhite;
      border-radius: 5px;
      text-decoration: none;
      box-sizing: border-box;
    }
  }