@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";
header {
  padding-top: 29px;
}

.navbar .navbar-brand {
  width: 194px;
}
.navbar .navbar-brand img {
  display: block;
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 70%;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #40A3F8;
}

.bg-primary {
  background-color: #40A3F8;
  border-radius: 5px;
  padding: 13px 30px;
}

.main_Page {
  background-image: url("../img/Slice11.jpg");
  background-size: cover;
  padding-top: 254px;
  padding-bottom: 210px;
}
@media screen and (max-width: 989px) {
  .main_Page {
    padding-top: 370px;
    padding-bottom: 110px;
  }
}
.main_Page h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  margin-bottom: 31px;
}
.main_Page h1 span {
  color: #40A3F8;
}
.main_Page p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  margin-bottom: 50px;
}

.main_Page form {
  max-width: 566px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  background: #fafafa;
  -webkit-box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
          box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
}
@media screen and (max-width: 593px) {
  .main_Page form {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.row {
  margin-left: none;
}

.search {
  width: 70px;
  border-radius: 8px;
  overflow: hidden;
  background: #40A3F8;
  padding: 13px 19px 16px 19px;
}
.search img {
  display: block;
  width: 100%;
}

#exampleInputSearch {
  margin-right: 19px;
  margin-left: 13px;
  padding: 21px 15px;
  background: rgba(245, 246, 250, 0.648);
  border: 1px solid rgba(158, 155, 155, 0.189);
}
@media screen and (max-width: 593px) {
  #exampleInputSearch {
    border: 4px solid rgba(64, 162, 248, 0.3176470588);
  }
}
#exampleInputSearch::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

#exampleInputSity {
  margin-right: 20px;
  margin-left: 13px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3D3D3F;
  background: rgba(245, 246, 250, 0.52);
  border: 1px solid rgba(158, 155, 155, 0.189);
  padding: 20px 5px 22px 20px;
}
@media screen and (max-width: 593px) {
  #exampleInputSity {
    border: 4px solid rgba(64, 162, 248, 0.3176470588);
  }
}

.form-control {
  height: inherit;
}

.form-group {
  line-height: 1;
}

.Easy_Steps {
  padding-top: 75px;
  padding-bottom: 80px;
}
.Easy_Steps h3 {
  text-align: center;
  margin-bottom: 51px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
}
.Easy_Steps .row_Easy_Steps div {
  margin: auto;
}
.Easy_Steps .row_Easy_Steps div .icons {
  width: 120px;
  height: 120px;
  padding: 0;
}
.Easy_Steps .row_Easy_Steps div h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
  margin-bottom: 18px;
}
.Easy_Steps .row_Easy_Steps div p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.Best_Quality {
  padding-bottom: 100px;
}
.Best_Quality .img_Doctor {
  max-width: 645px;
  width: 100%;
}
.Best_Quality .row h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-top: 75px;
}
.Best_Quality .row p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.Best_Quality .row ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  list-style-type: none;
}
.Best_Quality .row ul li:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  color: #40A3F8;
  font-size: 16px;
  margin-right: 18px;
}
.Best_Quality a {
  display: inline-block;
  background: #40A3F8;
  padding: 10px 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  padding-left: 19px;
  padding-right: 42px;
}
.Best_Quality a:hover {
  color: #40A3F8;
  background: #FFFFFF;
  border: 1px solid #40A3F8;
  border-radius: 5px;
  text-decoration: none;
}

.Our_Service {
  padding-top: 43px;
  background: rgba(158, 197, 230, 0.0941176471);
  padding-bottom: 60px;
}
.Our_Service h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.Our_Service p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}

.flex-Our_Service article {
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  -webkit-filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 75px;
  margin-bottom: 94px;
  padding: 61px;
  padding-bottom: 31px;
  padding-left: 62px;
  padding-right: 62px;
}
.flex-Our_Service article div {
  width: 61px;
  height: 69px;
}
.flex-Our_Service article h4 {
  margin-top: 19px;
  margin-bottom: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.flex-Our_Service article p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.flex-Our_Service article:nth-child(2) {
  border-bottom: 18px solid rgba(64, 162, 248, 0.4588235294);
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: #DBE8EE;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  width: 80px;
  background: #40A3F8;
}

img {
  display: block;
  width: 100%;
}

p {
  color: inherit;
}

.container {
  max-width: 1177px;
  margin: auto;
}