// font-family: 'Cormorant', serif;
// font-family: 'DM Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Ubuntu', sans-serif;



@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";


@import "header";
@import "mixins";
@import "main_page";
@import "Easy_Steps";
@import "Best_Quality";
@import "Our_Service";
@import "Meet_Our";
@import "Mobile";
@import "Look";
@import "time_Change";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }
a{
  display: inline-block;
}
img{
  display: block;
  width: 100%;
}
p{
    color: inherit;
}
.container{
    max-width: 1177px;
    text-align: center;
   
}


