@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";
header {
  padding-top: 29px;
}

.navbar .navbar-brand {
  width: 194px;
}
.navbar .navbar-brand img {
  display: block;
  width: 100%;
}

.navbar-nav .nav-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 70%;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #40A3F8;
}

.bg-primary {
  background-color: #40A3F8;
  border-radius: 5px;
  padding: 13px 30px;
}

.main_Page {
  background-image: url("../img/Slice11.jpg");
  background-size: cover;
  padding-top: 254px;
  padding-bottom: 210px;
}
@media screen and (max-width: 989px) {
  .main_Page {
    padding-top: 370px;
    padding-bottom: 110px;
  }
}
.main_Page h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  margin-bottom: 31px;
}
.main_Page h1 span {
  color: #40A3F8;
}
.main_Page p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  margin-bottom: 50px;
}

.main_Page form {
  max-width: 566px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  background: #fafafa;
  -webkit-box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
          box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
}
@media screen and (max-width: 593px) {
  .main_Page form {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.row {
  margin-left: none;
}

.search {
  display: block;
  width: 70px;
  border-radius: 8px;
  overflow: hidden;
  background: #40A3F8;
  padding: 13px 19px 16px 19px;
}
.search img {
  display: block;
  width: 100%;
}

#exampleInputSearch {
  margin-right: 19px;
  margin-left: 13px;
  padding: 21px 15px;
  background: rgba(245, 246, 250, 0.648);
  border: 1px solid rgba(158, 155, 155, 0.189);
}
@media screen and (max-width: 593px) {
  #exampleInputSearch {
    border: 4px solid rgba(64, 162, 248, 0.3176470588);
  }
}
#exampleInputSearch::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
#exampleInputSearch::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

#exampleInputSity {
  margin-right: 20px;
  margin-left: 13px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3D3D3F;
  background: rgba(245, 246, 250, 0.52);
  border: 1px solid rgba(158, 155, 155, 0.189);
  padding: 20px 5px 22px 20px;
}
@media screen and (max-width: 593px) {
  #exampleInputSity {
    border: 4px solid rgba(64, 162, 248, 0.3176470588);
  }
}

.form-control {
  height: inherit;
}

.form-group {
  line-height: 1;
}
@media screen and (max-width: 593px) {
  .form-group {
    width: 100%;
  }
}

.Easy_Steps {
  padding-top: 75px;
  padding-bottom: 80px;
}
.Easy_Steps h3 {
  text-align: center;
  margin-bottom: 51px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
}
.Easy_Steps .row_Easy_Steps div {
  margin: auto;
}
.Easy_Steps .row_Easy_Steps div .icons {
  width: 120px;
  height: 120px;
  padding: 0;
}
.Easy_Steps .row_Easy_Steps div h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
  margin-bottom: 18px;
}
.Easy_Steps .row_Easy_Steps div p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.Best_Quality {
  padding-bottom: 100px;
}
.Best_Quality .img_Doctor {
  max-width: 645px;
  width: 100%;
}
.Best_Quality .row h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-top: 75px;
}
.Best_Quality .row p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.Best_Quality .row ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  list-style-type: none;
}
.Best_Quality .row ul li:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  color: #40A3F8;
  font-size: 16px;
  margin-right: 18px;
}
.Best_Quality .btn_Blue {
  display: inline-block;
  background: #40A3F8;
  padding: 10px 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: 1px solid transparent;
  padding-left: 19px;
  padding-right: 22px;
}
.Best_Quality .btn_Blue:hover {
  color: #40A3F8;
  background: #FFFFFF;
  border: 1px solid #40A3F8;
  border-radius: 5px;
  text-decoration: none;
}
.Best_Quality .btn_Blue span:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 16px;
  color: colorWhite;
  margin-left: 10px;
}

.Our_Service {
  padding-top: 43px;
  background: rgba(158, 197, 230, 0.0941176471);
  padding-bottom: 60px;
}
.Our_Service h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.Our_Service p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}

.flex-Our_Service article {
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  -webkit-filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  border: 1px solid rgba(144, 142, 142, 0.279);
  margin-top: 75px;
  margin-bottom: 94px;
  padding: 61px;
  padding-bottom: 31px;
  padding-left: 62px;
  padding-right: 62px;
}
.flex-Our_Service article div {
  width: 61px;
  height: 69px;
}
.flex-Our_Service article h4 {
  margin-top: 19px;
  margin-bottom: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.flex-Our_Service article p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.flex-Our_Service article:nth-child(2) {
  border-bottom: 18px solid rgba(64, 162, 248, 0.4588235294);
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: #DBE8EE;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  width: 80px;
  background: #40A3F8;
}

.Meet_Our {
  padding-top: 60px;
  background: rgba(158, 197, 230, 0.0941176471);
}
.Meet_Our h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.Meet_Our .titletag {
  width: 81px;
  height: 15px;
}
.Meet_Our p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-bottom: 63px;
}
.Meet_Our .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 533px) {
  .Meet_Our .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.Meet_Our .row article {
  width: 267px;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #EEEFF1;
  -webkit-filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  padding: 10px 13px;
  margin-bottom: 25px;
}
.Meet_Our .row article:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.Meet_Our .row article .photo {
  width: 241px;
  height: 249px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 18px;
}
.Meet_Our .row article h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3D3D3F;
  margin-bottom: 1px;
}
.Meet_Our .row article p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.Meet_Our .row article .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: inherit;
  margin: inherit;
  gap: 11px;
}
.Meet_Our .row article .social li {
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
}
.Meet_Our .row article .social li:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0px 0px 15px #40A3F8;
          box-shadow: 0px 0px 15px #40A3F8;
}
.Meet_Our .row article .social li a {
  list-style-type: none;
}
.Meet_Our .btn_Blue {
  display: inline-block;
  background: #40A3F8;
  padding: 10px 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 9px 22px;
}
.Meet_Our .btn_Blue:hover {
  color: #40A3F8;
  background: #FFFFFF;
  border: 1px solid #40A3F8;
  border-radius: 5px;
  text-decoration: none;
}

.Mobile {
  background-image: url("../img/SliceMobile.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1000px) {
  .Mobile {
    background: rgba(158, 198, 230, 0.1529411765);
  }
}
.Mobile .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.Mobile .top .row {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .Mobile .top .row {
    width: 100%;
    margin: inherit;
  }
}
.Mobile .top .row h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: left;
  margin-bottom: 30px;
}
.Mobile .top .row p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  text-align: left;
  margin-bottom: 30px;
}
.Mobile .top .row .Store_button {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.Mobile .top .row .Store_button .GooglePlay {
  width: 156px;
  overflow: hidden;
  margin-bottom: 20px;
}
.Mobile .top .row .Store_button .AppStore {
  width: 138px;
  overflow: hidden;
}

.Look {
  padding-top: 120px;
  background: rgba(158, 198, 230, 0.1529411765);
  padding-bottom: 87px;
}
.Look h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-bottom: 93px;
}
.Look .owl-carousel {
  padding-top: 25px;
}
.Look .owl-carousel article {
  height: 380px;
  background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  padding: 22px 32px 32px 32px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgba(144, 142, 142, 0.279);
}
.Look .owl-carousel article:before {
  background-image: url("../img/Quote.svg");
  content: "";
  display: block;
  width: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -17px;
  right: 41px;
}
.Look .owl-carousel article .Photo_client {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  overflow: hidden;
  margin: auto;
}
@media screen and (max-width: 362px) {
  .Look .owl-carousel article .flex-name_doctor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 362px) {
  .Look .owl-carousel article .flex-name_doctor ul {
    padding: 0px;
  }
}
.Look .owl-carousel article h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  color: #3D3D3F;
  text-align: left;
}
.Look .owl-carousel article ul li {
  list-style: none;
}
.Look .owl-carousel article ul li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f005";
  color: #FF9000;
}
.Look .owl-carousel article p:first-of-type {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Look .owl-carousel article p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
  text-align: left;
}
@media screen and (max-width: 1099px) {
  .Look .owl-carousel article {
    height: 340px;
  }
}
@media screen and (max-width: 428px) {
  .Look .owl-carousel article {
    height: 380px;
  }
}
@media screen and (max-width: 362px) {
  .Look .owl-carousel article {
    height: 420px;
  }
}
@media screen and (max-width: 346px) {
  .Look .owl-carousel article {
    height: 460px;
  }
}
@media screen and (max-width: 312px) {
  .Look .owl-carousel article {
    height: 570px;
  }
}

.time_Change {
  padding-top: 60px;
  padding-bottom: 123px;
  background: rgba(158, 198, 230, 0.1529411765);
  position: relative;
}
.time_Change .color_bg {
  background: #40A3F8;
  border-radius: 12px;
  padding: 82px 0px 92px 118px;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .time_Change .color_bg {
    padding-left: 40px;
  }
}
@media screen and (max-width: 900px) {
  .time_Change .color_bg {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.time_Change .color_bg h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 21px;
}
@media screen and (max-width: 900px) {
  .time_Change .color_bg h3 {
    font-size: 30px;
  }
}
.time_Change .color_bg .btn_White {
  display: inline-block;
  background: #FFFFFF;
  padding: 10px 0;
  color: #40A3F8;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  padding: 16px 18px;
}
.time_Change .color_bg .btn_White:hover {
  color: #FFFFFF;
  background: #40A3F8;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.time_Change .photo {
  max-width: 600px;
  width: 100%;
  position: absolute;
  right: 100px;
  top: -48px;
}
@media screen and (max-width: 1300px) {
  .time_Change .photo {
    right: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .time_Change .photo {
    right: -20px;
  }
}
@media screen and (max-width: 1080px) {
  .time_Change .photo {
    right: -60px;
  }
}
@media screen and (max-width: 954px) {
  .time_Change .photo {
    right: -110px;
  }
}
@media screen and (max-width: 900px) {
  .time_Change .photo {
    display: none;
  }
}

footer {
  padding-top: 34px;
  padding-bottom: 97px;
}
@media screen and (max-width: 600px) {
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
footer .box_social {
  margin-right: 200px;
  text-align: left;
}
@media screen and (max-width: 800px) {
  footer .box_social {
    margin-right: 0px;
  }
}
@media screen and (max-width: 600px) {
  footer .box_social {
    width: 100%;
    text-align: center;
  }
}
footer .box_social p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}
footer .box_social .social_footer {
  padding: inherit;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  footer .box_social .social_footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .box_social .social_footer li {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
footer .box_social .social_footer li:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0px 0px 15px #40A3F8;
          box-shadow: 0px 0px 15px #40A3F8;
}
footer .box_category ul {
  padding: inherit;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  footer .box_category ul li {
    display: none;
  }
}
footer .box_category ul li:first-of-type a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .box_category ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}
footer .box_category ul li a:hover {
  color: #40A3F8;
}
footer .box_Subscribe {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  footer .box_Subscribe {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer .box_Subscribe {
    text-align: center;
  }
}
footer .box_Subscribe a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
footer .box_Subscribe a:hover {
  color: #40A3F8;
}
footer .box_Subscribe #InputEmail2 {
  margin-bottom: 12px;
}
footer .box_Subscribe #InputEmail2::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
  margin-left: 12px;
}
footer .box_Subscribe #InputEmail2::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
  margin-left: 12px;
}
footer .box_Subscribe #InputEmail2:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
  margin-left: 12px;
}
footer .box_Subscribe #InputEmail2::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
  margin-left: 12px;
}
footer .box_Subscribe #InputEmail2::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
  margin-left: 12px;
}
footer .box_Subscribe .btn-primary {
  width: 100%;
  background: #40A3F8;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.sub_footer {
  background: #E5E5E5;
  padding-top: 22px;
}
@media screen and (max-width: 600px) {
  .sub_footer {
    display: none;
  }
}
.sub_footer .footer_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.sub_footer .footer_down p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
.sub_footer .footer_down ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.sub_footer .footer_down ul li {
  margin-left: 53px;
}
.sub_footer .footer_down ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}

a {
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

p {
  color: inherit;
}

.container {
  max-width: 1177px;
  text-align: center;
}