// font-family: 'Cormorant', serif;
// font-family: 'DM Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Ubuntu', sans-serif;



@import "header";
@import "mixins";
@import "main_page";
@import "Easy_Steps";
@import "Best_Quality";
@import "Our_Service";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

img{
  display: block;
  width: 100%;
}
p{
    color: inherit;
}
.container{
    max-width: 1177px;
    margin: auto;
   
}


